.page-container { 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.full-width {
    width: 100%;
}
.main-container { 
    display: flex; 
    flex: 1;
    margin: 0;
    padding: 0;
}
.left-column { 
    background-color: #f0f0f0; 
    width: 200px;
    padding: 0;
    flex-shrink: 0;
}
.middle-column {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.right-column {
    flex: 2;
    padding: 10px;
}
.example-link { 
    display: block; 
    padding: 5px 5px 5px 15px;
    margin-left: 10px;
    text-decoration: none; 
    color: #333; 
}
.example-link.selected { 
    background-color: #ddd; 
    font-weight: bold; 
}
.example-link:not(.selected):hover { 
    background-color: #e0e0e0; 
}
.expandable-header { 
    cursor: pointer; 
    user-select: none;
    margin-top: 0; 
    margin-bottom: 0;
    padding-top: 10px; 
}
.expandable-header::before { 
    content: '▶ '; 
}
.expandable-header.expanded::before { 
    content: '▼ '; 
}
.expandable-content { 
    display: none; 
}
.expandable-content.expanded { 
    display: block; 
}
.header { 
    background-color: #e0f2f1; 
    padding: 5px 10px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    height: 50px;
    margin: 0;
}
.header h3 { 
    margin: 0; 
    font-family: cursive;
    font-style: italic;
    font-weight: 700;
    font-size: 1.8em;
    line-height: 50px; /* This ensures vertical centering */
}
.header a {
    font-size: 0.9em;
    text-decoration: none;
    color: #333;
    font-family: Arial, sans-serif;
    align-self: center; /* This ensures the link is vertically centered */
}
.header a:hover {
    text-decoration: underline;
}
#dsl {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}
body {
    margin: 0;
    padding: 0;
}
.tab-container {
    margin-bottom: 10px;
}
.tab {
    background-color: #f1f1f1;
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}
.tab:hover {
    background-color: #ddd;
}
.tab.active {
    background-color: #ccc;
}
.tab-content {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
}
.tab-content.active {
    display: block;
}