.page-container { 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.full-width {
    width: 100%;
}
.main-container { 
    display: flex; 
    flex: 1;
    margin: 0;
    padding: 0;
}
.left-column { 
    background-color: #f0f0f0; 
    width: 200px;
    padding: 0;
    flex-shrink: 0;
}
.middle-column {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.right-column {
    flex: 2;
    padding: 10px;
}
.example-link { 
    display: block; 
    padding: 5px 5px 5px 15px;
    margin-left: 10px;
    text-decoration: none; 
    color: #333; 
}
.example-link.selected { 
    background-color: #ddd; 
    font-weight: bold; 
}
.example-link:not(.selected):hover { 
    background-color: #e0e0e0; 
}

.header { 
    background-color: #e0f2f1; 
    padding: 5px 10px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    height: 50px;
    margin: 0;
}
.header h3 { 
    margin: 0; 
    font-family: cursive;
    font-style: italic;
    font-weight: 700;
    font-size: 1.8em;
    line-height: 50px; /* This ensures vertical centering */
}
.header a {
    font-size: 0.9em;
    text-decoration: none;
    color: #333;
    font-family: Arial, sans-serif;
    align-self: center; /* This ensures the link is vertically centered */
}
.header a:hover {
    text-decoration: underline;
}
#dsl {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
}
body {
    margin: 0;
    padding: 0;
}
.tab-container {
    display: flex;
    margin-bottom: -1px;
}
.tab {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-bottom: none;
    margin-right: 5px;
    position: relative;
    z-index: 1;
    transform: perspective(10px) rotateX(2deg);
    transform-origin: bottom;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: all 0.3s ease;
}
.tab:hover {
    background-color: #e0e0e0;
}
.tab.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 2;
    transform: perspective(10px) rotateX(0deg);
}
.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.tab-content.active {
    display: block;
}
.code-generation-button.active {
    background-color: #e0f2f1; /* Light teal color */
    color: #000; /* Black text for contrast */
    font-weight: bold;
}

/* Basic styling for the buttons */
.toggle-buttons button {
    background-color: #d3d3d3; /* Light gray background for unselected buttons */
    border: 1px solid #a9a9a9; /* Darker gray border for unselected buttons */
    color: var(--primary);
    padding: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s, border-color 0.3s;
}

